@import "demo.min.css";
body {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    background-color: #fff;
    height: 78px;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  

}

.nav ul li:hover {
    cursor: pointer;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
    
}

@media (min-width:769px) {
    .nav .menu-btn {

        display: none;
    }

    .nav ul li {
        height: 78px;
        margin: 0 20px;
       
        text-align: center;
        display: inline-block;
    }

    .nav ul li a {

        position: relative;
        display: block;
        height: 30px;
        line-height: 30px;
        transform: translateY(-50%);
        top: 50%;
       
    }
    .nav ul li a:after {
        content: "";
        width: 0;
        height: 3px;
        background: #03A1EB;
        position: absolute;
        top:  30px;
        left: 50%;
        transition: all 0.3s;
    }
    .nav ul li a:not(.actived):hover{
        color:#03A1EB ;
    }
    .nav ul li a:not(.actived):hover:after{
         
            left: 0%;
            width: 100%;
        
    }

    .nav ul li .actived {
        border-bottom: 3px solid #03A1EB;;
        color:#03A1EB ;
    }
    

}

/*媒体查询*/
/*屏幕宽度小于768px的时候执行里面的css*/

@media (max-width: 768px) {
    .menu-btn {
        position: absolute;
        right: 56px;
        top: 30px;
        width: 26px;
        height: 24px;
        display: block;
    }

    .menu-btn span {
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        background: #44a8f2;
    }

    .menu-btn span.btn-top {
        top: 0px;
        opacity: 1;
        transition: all 0.5s;
    }

    .menu-btn span.btn-middle {
        top: 8px;
        opacity: 1
    }

    .menu-btn span.btn-bottom {
        top: 16px;
        opacity: 1;
        transition: all 0.5s;
    }


    .menu-btn.active span.btn-top {
        top: 5px;
        transform: rotate(45deg);
    }

    .menu-btn.active span.btn-middle {
        display: none;
    }

    .menu-btn.active span.btn-bottom {
        top: 5px;
        transform: rotate(-45deg);
    }

    .nav ul {
        position: absolute;
        right: 20px;
        top: 78px;
        display: none;
        z-index: 1;
    }



    .nav .show {

        display: block;
    }

    .nav ul li {
        display: block;
        border: 1px solid #dadada;
        height: 58px;
        line-height: 58px;
        width: 98px;
    }

    .nav ul li a {
        
        display: block;
    
    }


    .nav ul li a:hover {
        background-color: #6E6E6E;
        color: #fff;
    }
}
