@import "common.css";
@import "demo.min.css";
@import "rotate3D.css";


.scrollbar {
    position: fixed;
    top: 0;
    height: 3px;
    background: #44a8f2;
    transition-property: width;
    transition-duration: 1s;
    z-index: 99999;
}

.nav {
    position: fixed;
    background-color: #fff;
    height: 78px;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;


}

.nav ul li:hover {
    cursor: pointer;
}

.nav ul li {
    padding: 0 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 16px;

}

@media (min-width:769px) {
    .nav .menu-btn {

        display: none;
    }

    .nav ul li {
        height: 78px;
        margin: 0 20px;

        text-align: center;
        display: inline-block;
    }

    .nav ul li a {

        position: relative;
        display: block;
        height: 30px;
        line-height: 30px;
        transform: translateY(-50%);
        top: 50%;

    }

    .nav ul li a:after {
        content: "";
        width: 0;
        height: 3px;
        background: #03A1EB;
        position: absolute;
        top: 30px;
        left: 50%;
        transition: all 0.3s;
    }

    .nav ul li a:not(.actived):hover {
        color: #03A1EB;
    }

    .nav ul li a:not(.actived):hover:after {

        left: 0%;
        width: 100%;

    }

    .nav ul li .actived {
        border-bottom: 3px solid #03A1EB;
        ;
        color: #03A1EB;
    }


}

/*媒体查询*/
/*屏幕宽度小于768px的时候执行里面的css*/

@media (max-width: 768px) {
    .menu-btn {
        position: absolute;
        right: 56px;
        top: 30px;
        width: 26px;
        height: 24px;
        display: block;
    }

    .menu-btn span {
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
        background: #44a8f2;
    }

    .menu-btn span.btn-top {
        top: 0px;
        opacity: 1;
        transition: all 0.5s;
    }

    .menu-btn span.btn-middle {
        top: 8px;
        opacity: 1
    }

    .menu-btn span.btn-bottom {
        top: 16px;
        opacity: 1;
        transition: all 0.5s;
    }


    .menu-btn.active span.btn-top {
        top: 5px;
        transform: rotate(45deg);
    }

    .menu-btn.active span.btn-middle {
        display: none;
    }

    .menu-btn.active span.btn-bottom {
        top: 5px;
        transform: rotate(-45deg);
    }

    .nav ul {
        position: absolute;
        right: 30px;
        top: 78px;
        display: none;
        z-index: 1;
    }



    .nav .show {

        display: block;
    }

    .nav ul li {
        display: block;
        border: 1px solid #dadada;
        border-top: none;
        height: 38px;
        line-height: 38px;

    }

    .nav ul li a {

        display: block;

    }


    .nav ul li:hover {
        background-color: #44a8f2;

    }

    .nav ul li:hover a {
        color: #fff;
    }
}

.logo {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
}

.logo::before,
.logo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 4px solid transparent;
    animation-timing-function: linear;
}

.logo::before {
    top: 0;
    left: 0;
    border-top-color: black;
    border-right-color: black;
    animation: border-before 1.5s infinite;
    animation-direction: alternate;
}

.logo::after {
    bottom: 0;
    right: 0;
    border-bottom-color: black;
    border-left-color: black;
    animation: border-after 1.5s infinite;
    animation-direction: alternate;
}

.logo>div {
    position: absolute;
}

.logo .red {
    top: 4px;
    bottom: 0;
    left: 0;
    border-right: 4px solid black;
    background-color: #EA5664;
    animation: red 1.5s infinite;
    animation-direction: alternate;
}

.logo .orange {
    bottom: 0;
    left: 27%;
    right: 4px;
    border-top: 4px solid black;
    background-color: #F3B93F;
    animation: orange 1.5s infinite;
    animation-direction: alternate;
}

.logo .white {
    right: 5px;
    top: 4px;
    bottom: 50%;
    height: 50%;
    border-left: 4px solid black;
    background-color: #fff;
    animation: white 1.5s infinite;
    animation-direction: alternate;
}

@keyframes border-before {
    0% {
        width: 0;
        height: 0;
        border-right-color: transparent;
    }

    5.99% {
        border-right-color: transparent;
    }

    6% {
        height: 0;
        width: 100%;
        border-right-color: black;
    }

    25%,
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes border-after {

    0%,
    24.99% {
        width: 0;
        height: 0;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    25% {
        border-left-color: transparent;
        border-bottom-color: black;
    }

    36.99% {
        border-left-color: transparent;
    }

    37% {
        height: 0;
        width: 100%;
        border-left-color: black;
    }

    50%,
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes red {

    0%,
    50% {
        width: 0;
        opacity: 0;
    }

    50.01% {
        opacity: 1;
    }

    65%,
    100% {
        width: 27%;
        opacity: 1;
    }
}

@keyframes orange {

    0%,
    65% {
        height: 0;
        opacity: 0;
    }

    65.01% {
        opacity: 1;
    }

    80%,
    100% {
        height: 50%;
        opacity: 1;
    }
}

@keyframes white {

    0%,
    75% {
        width: 0;
        opacity: 0;
    }

    75.01% {
        opacity: 1;
    }

    90%,
    100% {
        width: 27%;
        opacity: 1;
    }
}

