//定义一个变量和一个函数

$baseFontSize: 75; //基于视觉稿横屏尺寸/100得出的基准font-siz

@function px2rem($px) {
    @return $px / $baseFontSize * 1rem;
}

@media (min-width:769px) {
    .content {
        background: url(../images/bg.gif) repeat;
    }
}

@media (max-width:768px) {
    .content {
        background: url(../images/bg.jpg) repeat;
    }
}

.content {
    width: 100%;
    height: 2000px;
    background-color: #44a8f2;
    position: relative;
    margin-top: 78px;
    overflow: hidden;
    background-size: auto auto;

    .box1 {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
    }

    .box2 {
        width: px2rem(100);
        height: px2rem(100);
        background-color: cyan;
    }

    .box3 {
        width: 90%;
        background-color: blanchedalmond;
        margin: 20px auto;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.5s;

        h2 {
            color: #222222;
            transition: all 0.5s;
        }

        p {
            font-size: px2rem(20);
            color: #797979;
            margin-top: 20px;
            transition: all 0.5s;
        }

        &:hover {
            background-color: rgb(54, 53, 51);

            h2 {
                color: #44a8f2;
            }

            p {
                color: #ffffff;
            }
        }
    }
    .box4{
        width: 480px;
        height: 327px;
      
        overflow:hidden;
       
        background: url(../images/b.jpg) 1440px;  
    }
    .box5{
        width: 480px;
        height: 480px;
    }



}

.levitate {
    display: block;
    width: px2rem(150);
    height: px2rem(150);
    background: url("../images/pig.png") no-repeat;
    position: absolute;
    top: px2rem(400);
    right: 20px;
}

@keyframes changeY {
    0% {
        -webkit-transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0px);
    }
}

.banner-bottom {
    display: block;
    animation: changeY 2s ease-in-out infinite;
    transform: translateY(0);
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: px2rem(150);
    height: px2rem(150);
    margin-left: px2rem(-75);
    background: url(../images/icon.gif) no-repeat;
    background-size: cover;
    z-index: 10;
}